@{
    Layout = null;
}

<html>
<head>
    <title>Windows Service Portal</title>
</head>
<body>
    <div id="content"></div>
    <script src="@Url.Content("~/js/react.js")"></script>
    <script src="@Url.Content("~/js/react-dom.js")"></script>
    <script src="@Url.Content("~/js/redux.js")"></script>
    <script src="@Url.Content("~/js/react-redux.js")"></script>
    <script src="@Url.Content("~/js/app.js")"></script>
</body>
</html>